*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: arial;
}

.header{
	width: 100%;
	padding: 10px;
	border-bottom: 1px solid black;
}

.navbar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}

.header img{
	width: 40px;
    border-radius: 50%;
    height: 40px;
}

.menu a{
	text-decoration: none;
	color: black;
	border: 1px solid black;
	padding: 5px 15px;
	border-radius: 6px;
}