*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: arial;
}

/*<---- Style Header ---->*/
.header{
	width: 100%;
	padding: 10px;
	border-bottom: 1px solid black;
}

.navbar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	max-width: 1280px;
	width: 100%;
	margin: 0 auto;
}

.header img{
	width: 40px;
    border-radius: 50%;
    height: 40px;
}

.menu a{
	text-decoration: none;
	color: black;
	border: 1px solid black;
	padding: 5px 15px;
	border-radius: 6px;
}




/*<---- Style Main ---->*/

.container{
	width: 100%;
	align-content: center;
}

.hero{
	border-bottom: 1px solid black;
}

.hero-container{
	max-width: 1280px;
	margin: 0 8%;
	position: relative;
}

.hero-container h1{
	margin-top: 20px;
}

.hero-container p{
	margin-top: 10px;
}

.hero-container img{
	width: 100%;
}


/*<---- Style Banner ---->*/
.slideshow-container {
  max-width: 1280px;
  position: relative;
  margin: auto;
}

.slideshow-container img{
	margin-top: 20px;
	max-width: 1280px;
	width: 100%;
	height: 500px;
}

.banner2{
	opacity: 0.3;
}

.text {
	color: #000000;
	padding: 10px 30px;
	position: absolute;
	top: 50px;
	width: 100%;
}

.text h2{
	text-align: center;
	margin-bottom: 40px;
}

.text p{
	text-align: justify;
	font-weight: 500px;
	line-height: 20px;
	font-size: 12px;
}

.text ol{
	margin-left: 50px;
	line-height: 20px;
	font-size: 12px;
}

.dots{
	text-align: center;
	margin-bottom: 15px;

}
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


@media (max-width : 600px){
	.navbar{
		flex-direction: column;
	}

	.menu{
		margin-top: 10px;
		display: flex;
		flex-direction: column;
		width: 100%;
		text-align: center;
	}

	.dot{
		height: 10px;
		width: 10px;
	}

	.text p,
	.text ol{
		font-size: 10px;
	}

	.text h2{
		font-size: 16px;
	}

	.text h3{
		font-size: 12px;
	}

}



/*Syle Facilitation*/
.facil{
	border-bottom: 1px solid black;
}

.facil-container{
	margin: 0 8%;
}

.facil h1{
	margin-top: 20px;
	margin-bottom: 20px;

}

.facil-list{;
	margin-bottom: 20px;
	gap: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;

}

.facil-img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.facil-p{
	text-align: center;
}


/*Style Message Us*/
.message{
	border-bottom: 1px solid black;
}

.message-container{
	max-width: 1280px;
	margin: 0 8%;
	position: relative;
}

.message-container h1{
	margin-top: 20px;
	margin-bottom: 20px;
}


